{extend name="template/base" /}
{block name="content"}
<div>
	<div class="login-box">
    <form class="layui-form layui-form-pane">
      <input type="hidden" name="id" value="{$info.id|default=0}">
        <div class="layui-form-item">
            <label class="layui-form-label">帐号:</label>
            <div class="layui-input-inline">
                <input type="text" name="account" class="layui-input" required lay-verify="required" placeholder="帐号" autocomplete="on" maxlength="20" value="{$info.account|default=''}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名:</label>
            <div class="layui-input-inline">
                <input type="text" name="realname" class="layui-input" required lay-verify="required" placeholder="姓名" autocomplete="on" maxlength="20" value="{$info.realname|default=''}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱:</label>
            <div class="layui-input-inline">
                <input type="text" name="email" class="layui-input" required lay-verify="required" placeholder="邮箱" autocomplete="on" maxlength="20" value="{$info.email|default=''}"/>
            </div>
        </div>
          <div class="layui-form-item">
		    <label class="layui-form-label">状态:</label>
		    <div class="layui-input-block">
		      <input type="radio" name="status" value="1" title="正常">
		      <input type="radio" name="status" value="0" title="禁用">
		    </div>
		  </div>
        
        <div class="layui-form-item">
            <button style="width: 100%" type="button" class="layui-btn btn-submit" lay-submit lay-filter="sub_info">确定</button>
        </div>
    </form>
</div>
</div>
{/block}
{block name="script"}
  layui.use(['form'], function () {

        // 操作对象
        var form = layui.form,
          $ = layui.jquery

        $("[name='status'][value=<?php echo isset($info)?($info['status']?1:0):1 ?>]").attr('checked',true)
        form.render()

       form.on('submit(sub_info)',function(data){
          $.post("{:\\think\\Request::instance()->action()}",data.field,function(res){
            ajax_process(res);
          })
          return false;
       })

    });
{/block}

