<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MissWeb极简社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="MissWeb前端社区">
  <meta name="description" content="MissWrb社区是模块化前端UI框架Layui的社区，致力于为web开发提供强劲动力">
 {load href="__RES__/css/bootstrap.css"}
   {load href="__RES__/layui/css/layui.css"}
   {load href="__RES__/css/global.css"}
  {load href="__RES__/layui/layui.js"}
 {block name="style"}{/block}
</head>
<body> 
<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="{:\\think\\Url::build('index/Index/index')}">
      <img src="__RES__/images/logo.png" alt="layui">
    </a> 
    <ul class="layui-nav fly-nav layui-hide-xs">
      {volist name="menus" id="value"}
        <li class="layui-nav-item">
          <a href="{:\\think\\Url::build('Index/index',['label_id'=>$value['id']])}">{$value.name}</a>
        </li>
      {/volist}
    </ul>
  </div>
</div>
<div class="fly-panel fly-column layui-hide-md">
  <div class="layui-container">
    <ul class="layui-clear">
      {volist name="menus" id="value"}
        <li class="layui-nav-item">
          <a href="{:\\think\\Url::build('Index/index',['label_id'=>$value['id']])}">{$value.name}</a>
        </li>
      {/volist}
    </ul>
  </div>
</div>
{block name="content"}

{/block}
<div class="fly-footer">
  <h3>MissWeb welcome for you</h3>
</div>
</body>
<script type="text/javascript">
  {block name="script"}{/block}
</script>

</html>